{:paths []
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}}

 :aliases {:run {:main-opts ["-m" "pcrit.cli.main"]}

           :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.2.22"}}
                  :main-opts  ["-m" "polylith.clj.core.poly-cli.core"]}

           :dev  {:extra-paths ["development/src"]

                  :extra-deps  {; Components
                                pcrit/config      {:local/root "components/config"}
                                pcrit/llm         {:local/root "components/llm"}
                                pcrit/experiment  {:local/root "components/experiment"}
                                pcrit/failter     {:local/root "components/failter"}
                                pcrit/log         {:local/root "components/log"}
                                pcrit/pop         {:local/root "components/pop"}
                                pcrit/pdb         {:local/root "components/pdb"}
                                pcrit/expdir      {:local/root "components/expdir"}
                                pcrit/command     {:local/root "components/command"}
                                pcrit/reports     {:local/root "components/reports"}
                                pcrit/test-helper	{:local/root "components/test-helper"}

                                        ; Bases
                                pcrit/pcrit-cli   {:local/root "bases/cli"}

                                        ; Development dependencies
                                org.clojure/clojure {:mvn/version "1.12.1"}}}

           :test {:extra-paths ["development/src"
                                "components/llm/test"
                                "components/log/test"
                                "components/pdb/test"
                                "components/pop/test"
                                "components/expdir/test"
                                "components/failter/test"
                                "components/command/test"
                                "components/reports/test"
                                "components/test-helper/src"
                                "bases/cli/test"]}}}
