{:paths ["src" "resources"]
 :deps {cheshire/cheshire   {:mvn/version "5.12.0"}
        clj-commons/clj-yaml {:mvn/version "1.0.29"}
        clojure-csv/clojure-csv {:mvn/version "2.0.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}

