{:deps      {pcrit/experiment {:local/root "../../components/experiment"}
             pcrit/log        {:local/root "../../components/log"}
             pcrit/llm        {:local/root "../../components/llm"}
             pcrit/config     {:local/root "../../components/config"}
             pcrit/pdb        {:local/root "../../components/pdb"}
             pcrit/pop        {:local/root "../../components/pop"}
             pcrit/expdir     {:local/root "../../components/expdir"}
             pcrit/failter     {:local/root "../../components/failter"}
             pcrit/reports    {:local/root "../../components/reports"}
             pcrit/test-helper {:local/root "../../components/test-helper"}
             pcrit/cli        {:local/root "../../bases/cli"}
             pcrit/command    {:local/root "../../components/command"}

             org.clojure/clojure {:mvn/version "1.12.1"}}

 :aliases {:run {:main-opts ["-m" "pcrit.cli.main"]}

           :test {:extra-paths []
                  :extra-deps  {}}}}

