{:paths ["src"]
 :deps {pcrit/expdir  {:local/root "../expdir"}
        pcrit/pop     {:local/root "../pop"}
        org.clojure/clojure {:mvn/version "1.12.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
